<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <resources>
            <default_setup>
                <connection>
                    <host>localhost</host>
                    <username>root</username>
                    <password/>
                    <dbname>db_nova</dbname>
                    <model>mysql4</model>
                    <initStatements>SET NAMES utf8</initStatements>
                    <type>mysql</type>
                    <active>0</active>
                </connection>
            </default_setup>
            <default_write>
                <connection>
                    <use>default_setup</use>
                </connection>
            </default_write>
            <default_read>
                <connection>
                    <use>default_setup</use>
                </connection>
            </default_read>
            <core_setup>
                <setup>
                    <module>Nova_Core</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </core_setup>
            <core_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </core_write>
            <core_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </core_read>
        </resources>
        <resource>
            <connection>
                <types>
                    <mysql>
                        <class>Nova_Core_Dal_Database_Connection_Adapter_Mysql</class>
                    </mysql>
                </types>
            </connection>
        </resource>
        <models>
            <core>
                <class>Nova_Core_Model</class>
                <resourceModel>core_mysql4</resourceModel>
            </core>
            <core_mysql4>
                <class>Nova_Core_Model_Resource_Dal_Mysql4</class>
                <entities>
                    <config_data>
                        <table>core_config_data</table>
                    </config_data>
                    <website>
                        <table>core_website</table>
                    </website>
                    <game>
                        <table>core_game</table>
                    </game>
                    <modules>
                        <table>core_modules</table>
                    </modules>
                </entities>
            </core_mysql4>
        </models>
    </global>

    <default>
        <system>
            <filesystem>
                <base>{{root_dir}}</base>
                <app>{{root_dir}}/app</app>
                <code>{{app_dir}}/code</code>
                <design>{{app_dir}}/design</design>
                <locale>{{app_dir}}/locale</locale>
                <etc>{{app_dir}}/etc</etc>
                <media>{{root_dir}}/media</media>
                <upload>{{root_dir}}/media/upload</upload>
                <skin>{{root_dir}}/skin</skin>
                <var>{{var_dir}}</var>
                <cache>{{var_dir}}/cache</cache>
                <session>{{var_dir}}/session</session>
                <tmp>{{var_dir}}/tmp</tmp>
                <pear>{{var_dir}}/pear</pear>
                <export>{{var_dir}}/export</export>
            </filesystem>
        </system>
        <general>
            <locale>
                <code>fr_FR</code>
                <timezone>Europe/Paris</timezone>
            </locale>
        </general>
    </default>

    <modules>
        <Nova_Core>
            <codePool>core</codePool>
            <active>true</active>
        </Nova_Core>
    </modules>
</config>