@charset "utf-8";
body{
	background:#000 url(../images/bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	color:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	padding:0;
	margin:0
}

#netzwerkleiste{
	height:25px;
	width:100%
}

#content{
	position:absolute;
	left:50%;
	width:744px;
	height:916px;
	margin-left: -372px
}

#flash_oben{
	display:block;
	visibility:visible;
	left:95px;
	top:0px;
	position:absolute;
	width:568px;
	height:396px;
	text-indent: -9000px
}

em{
	font-weight:bold;
	font-style:normal
}

a.anmelden_button{
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:13px;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	background-image:url(../images/spriteset_buttons.jpg);
	background-repeat:no-repeat;
	background-position:0px -201px;
	width:413px;
	height:36px;
	position:absolute;
	left:170px;
	top:397px
}

a.anmelden_button:hover{
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:0px -250px
}

#flash_trailer_hintergrund{
	position:absolute;
	left:190px;
	top:446px;
	width:378px;
	height:224px;
	background-image:url(../images/spriteset_bilder.jpg);
	background-position:0px 0px
}

#hauptinfo{
	width:379px;
	position:absolute;
	left:190px;
	top:670px;
	padding:0 0 0 0;
	margin:0 0 0 0
}

#hauptinfo_hintergrund{
	background-image:url(../images/hauptinfo_bg.gif);
	background-repeat:repeat-y;
	padding-bottom:10px
}

.hauptinfo_text{
	color:#757f8b;
	font-size:11px;
	font-weight:normal;
	line-height:17px;
	margin:0
	16px 10px;
	padding:10px 0 0 10px
}

#ogame_intext{
	text-decoration:none;
	font-style:normal;
	font-weight:bold
}

#hauptinfo_news{
	display:block;
	text-decoration:none;
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:0px -108px;
	width:310px;
	height:31px;
	color:#608db0;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	padding-top:5px;
	margin-left:35px;
	margin-top:3px
}

#hauptinfo_news:hover{
	color:#FFF
}

#hauptinfo_fuss{
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:0px -299px;
	width:379px;
	height:17px
}

#rechtliches_container{
	float:left;
	width:379px;
	height:45px
}

#rechtliches{
	list-style-type:none;
	padding:0 0 0 0;
	margin:0 0 0 0;
	text-align:center;
	padding-top:0px
}

#rechtliches
a{
	text-decoration:none;
	color:#757f8b;
	font-size:9px;
	font-weight:normal
}

#rechtliches a:hover{
	color:#FFF
}

#rechtliches_agb{
	display:inline;
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:-310px -108px;
	width:95px;
	height:30px;
	padding-top:15px;
	float:left
}

#rechtliches_regeln{
	display:inline;
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:-405px -108px;
	width:97px;
	height:30px;
	padding-top:15px;
	float:left
}

#rechtliches_credits{
	display:inline;
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:-595px -108px;
	width:95px;
	height:30px;
	padding-top:15px;
	float:left
}

#rechtliches_impressum{
	display:inline;
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:-503px -108px;
	width:92px;
	height:30px;
	padding-top:15px;
	float:left
}

#copyright{
	margin-top:10px;
	text-align:center;
	font-size:9px;
	text-decoration:none;
	color:#757f8b;
	font-size:9px;
	font-weight:normal
}

#copyright
a{
	text-decoration:none;
	color:#757f8b
}

#copyright a:hover{
	text-decoration:none;
	color:#FFF
}

#menu_links_container{
	position:absolute;
	left:7px;
	top:446px;
	width:164px;
	height:auto;
	padding-top:3px
}

#menu_links{
	list-style-type:none;
	padding:0 0 0 0;
	margin:0 0 0 0
}

.button_left_menu{
	margin-top:2px;
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:6px;
	font-size:11px;
	font-weight:bold;
	color:#768189;
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:-261px 0px;
	width:167px;
	height:21px;
	float:left
}

.button_left_menu:hover{
	background-image:url(../images/spriteset_buttons.jpg);
	background-position:-261px -27px;
	color:#000
}

#menu_links_fuss{
background-image:url(../images/spriteset_gifs.gif);
background-position:-237px -50px;
width:164px;
height:36px;
float:left;
margin-left:17px
}

#lang_container{
position:absolute;
top:3px;
width:128px;
left:50%;
margin-left:-481px
}

.lang{
position:absolute;
width:128px;
border:1px
solid #2a3447;
background:#1a1e26
}

.lang
ul{
padding:0;
margin:0;
list-style:none;
width:100%;
overflow:hidden
}

.lang ul
li{
float:left;
clear:left;
width:100%;
font-size:10px;
background:url(../images/lang-opener.gif) no-repeat 100% 0
}

.lang ul li
a{
color:#9a9a9a;
display:block;
width:100%;
float:left;
text-decoration:none;
line-height:15px;
height:17px
}

.lang ul
ul{
display:none;
clear:both
}

.lang ul ul
li{
background:none
}

.lang
img{
border:medium none;
display:inline;
margin:3px
4px 0 1px;
font:0px/0px sans-serif;
float:left
}

.lang ul .open
ul{
display:block
}

#menu_rechts{
background-image:url(../images/spriteset_bilder.jpg);
background-position:-378px 0px;
position:absolute;
left:578px;
top:446px;
width:164px
}

#uni_selector{
padding-top:7px;
position:absolute;
left:6px;
width:152px;
height:20px;
background:#1a1e26;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-428px -54px;
padding-left:15px;
font-size:9px;
color:#2c2c2c;
text-decoration:none
}

#uni_selector:hover{
background-image:url(../images/spriteset_buttons.jpg);
background-position:-428px -27px
}

#uni_dropdown{
background:#FFF;
display:none;
border:solid 1px #898d93;
position:absolute;
left:12px;
z-index:100;
top:29px;
width:153px;
height:100px;
overflow-y:scroll;
margin:0
0 0 0;
padding:0
0 0 0
}

#uni_dropdown
ul{
margin-left:8px;
margin-top:3px;
padding:0
0 0 0
}

#uni_dropdown
li{
list-style:none;
margin-left:0px
}

#uni_dropdown
a{
font-size:9px;
text-decoration:none
}

#uni_dropdown a:hover{
font-size:9px;
color:#999;
text-decoration:none
}

.uni_liste_selected{
color:#237189;
font-weight:bold;
font-size:14px
}

.uni_liste_unselected{
color:#212121
}

#input_background{
width:167px;
height:27px;
position:absolute;
top:30px;
left:6px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-428px 0px
}

#input_universe{
background-image:url(../images/spriteset_buttons.jpg);
background-position:-428px 0;
height:27px;
left:6px;
position:absolute;
top:0px;
width:167px
}

#uni_select_box{
border:medium none;
color:#2C2C2C;
font-size:11px;
height:18px;
margin-left:9px;
margin-top:4px;
text-align:center;
padding-top:2px;
width:149px
}

#passwort_background{
position:absolute;
width:167px;
height:27px;
left:6px;
top:60px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-428px 0px
}

#uni_direct_input{
width:150px;
height:15px;
font-size:11px;
color:#2c2c2c;
text-align:center;
border:none;
background:none;
margin-top:1px;
font-size:11px;
color:#2c2c2c;
text-align:center;
border:none;
background:none;
padding-top:6px;
position:absolute;
z-index:10
}

#inputform{
width:167px;
height:21px;
font-size:11px;
color:#2c2c2c;
text-align:center;
border:none;
background:none;
padding-top:6px
}

#passwort{
width:167px;
height:21px;
font-size:11px;
color:#2c2c2c;
text-align:center;
border:none;
background:none;
padding-top:6px
}

.pw_vergessen{
margin-top:73px;
margin-left:14px;
text-align:center
}

.pw_vergessen
a{
font-size:9px;
color:#384656;
text-decoration:underline
}

.pw_vergessen a:hover{
color:#FFF;
text-decoration:underline
}

#login_button{
background-image:url(../images/spriteset_buttons.jpg);
background-position:-261px -54px;
border:medium none;
color:#FFF;
display:block;
font-size:11px;
font-weight:bold;
height:27px;
left:6px;
margin-top:0;
padding-top:0;
position:absolute;
text-align:center;
text-decoration:none;
text-transform:uppercase;
top:104px;
width:167px
}

#login_button:hover{
color:#000;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-261px -81px
}

.stepdown{
display:inline
}

#overlay_seite{
display:none;
background-color:#000;
position:absolute;
opacity:0.65;
-moz-opacity:0.65;
filter:alpha(opacity=65);
-khtml-opacity:0.65;
left:0px;
top:0px;
width:100%;
height:950px;
text-align:center;
z-index:200
}

#schliessen{
width:21px;
height:22px;
position:absolute;
left:675px;
top:6px
}

#schliessen_link{
display:block;
width:22px;
height:22px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-429px -81px
}

#fenster{
display:none;
background-image:url(../images/fenster_header.gif);
background-repeat:no-repeat;
width:699px;
position:absolute;
left:50%;
margin-left:-349.5px;
top:160px;
z-index:201
}

h1{
font-size:12px;
color:#8e8e8e;
font-weight:bold;
text-align:center;
width:100%;
float:left;
margin:0;
padding:0
}

h1
span{
display:block;
padding-top:10px
}

h2
a{
float:left;
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px -471px;
font-size:11px;
width:620px;
height:20px;
color:#8e8e8e;
font-weight:bold;
text-align:center;
margin-left:18px;
padding-top:4px;
margin-top:5px;
margin-bottom:5px
}

h2 a:hover{
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px -495px
}

#fenster_content_container{
overflow:hidden
}

#fenster_content_bg{
background-image:url(../images/fenster_bg.jpg);
width:657px;
float:left;
margin-left:19px;
margin-top:3px;
margin-bottom:0px
}

#fenster_content{
position:relative;
top:0px
}

#fenster_content
p{
margin-top:0px;
margin-left:50px;
margin-right:20px;
font-size:12px;
color:#8e8e8e;
line-height:18px
}

#fenster_content p
em{
font-weight:bold;
color:#55788f;
font-style:normal
}

#regeln_container
ul{
list-style-type:circle;
color:#8E8E8E;
font-size:12px;
line-height:18px;
margin:28px
90px 28px 40px
}

#regeln_container
li{
margin-bottom:10px
}

#regeln_container
a{
color:#CCC;
text-decoration:none
}

#regeln_container h2
a{
color:#8e8e8e
}

#regeln_container
table{
color:#8E8E8E;
font-size:12px;
border:2px
solid #0d1015;
margin:10px
0 10px 59px;
text-align:center
}

#regeln_container
p{
margin-top:8px
}

#regeln_container
th{
background-color:#141e26;
padding:5px
}

#regeln_container
td{
background-color:#13181d;
padding:4px
}

#regeln_container
h3{
color:#55788F;
font-size:13px;
font-weight:bold;
margin-bottom:10px;
margin-left:50px;
margin-top:35px;
text-align:left
}

#fenster_fuss{
background-image:url(../images/spriteset_gifs.gif);
background-position:0px -122px;
width:669px;
height:18px;
float:left;
margin-left:13px
}

#wallpaper_container{
display:none;
margin-bottom:7px
}

#konzeptkunst_container{
display:none
}

.screenshots{
margin-left:20px
}

.screenshot{
text-decoration:none;
height:149px;
width:198px;
float:left;
margin-right:9px;
margin-bottom:3px;
display:block;
border:solid;
border-width:1px;
border-color:#24292f
}

.screenshot:hover{
border-color:#4f5966
}

.screenshot
img{
border-style:none
}

.wallpaper_links_container{
float:left;
width:200px;
margin-right:9px;
margin-bottom:12px
}

.wallpaper_links_container
ul{
padding:0;
margin:0;
margin-left:14px
}

.wallpaper_links_container
li{
display:inline;
list-style-type:none;
float:left;
margin:0
0 0 0
}

.wallpaper_links_container
a{
margin-right:5px;
font-size:9px;
color:#4d4c4c;
text-decoration:underline
}

.wallpaper_links_container  a:hover{
color:#4f5966
}

#critical_error_box{
color:#830000;
font-size:9px;
margin-left:40px;
width:570px
}

.error_text{
height:23px;
width:240px;
position:absolute;
line-height:12px;
display:table-cell;
vertical-align:middle;
display:table
}

.error_text
div{
font-size:9px;
color:#830000;
display:table-cell;
vertical-align:middle
}

#error_meldungen_container{
position:absolute;
left:410px;
top:0px;
height:191px;
margin:0px;
width:240px
}

#spielername_err_box{
top:0px
}

#email_err_box{
top:38px
}

#passwort_err_box{
top:76px
}

#universum_err_box{
top:114px
}

#agb_err_box{
position:absolute;
width:240px;
height:23px;
top:168px;
left:0px
}

#registerForm_container{
margin-top:15px;
position:relative
}

#register_infotext{
margin-top:25px;
margin-bottom:20px
}

#register_infotext
p{
margin:0
0 10px 0;
padding-left:40px;
padding-right:40px
}

form{
margin:0
}

.inputform_klein_universum{
border:medium none;
color:#2C2C2C;
display:inline;
float:left;
font-size:11px;
height:18px;
margin:0
0 0 4px;
padding-top:1px;
width:144px;
text-align:center
}

.inputform_klein_universum_bg{
background-image:url(../images/spriteset_buttons.jpg);
background-position:-595px -46px;
border:medium none;
color:#2C2C2C;
float:left;
font-size:11px;
height:19px;
margin:0;
padding:3px
0 0;
text-align:center;
width:152px
}

.inputform_klein{
margin:0;
padding:0;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-595px -46px;
width:152px;
height:18px;
font-size:11px;
color:#2c2c2c;
text-align:center;
border:none;
padding-top:5px;
margin-bottom:15px;
float:left
}

label{
float:left;
font-size:12px;
color:#898989;
display:inline;
line-height:23px;
margin-right:7px;
margin-bottom:15px;
text-align:right;
width:150px
}

#inputform_container{
width:350px;
height:150px;
margin-left:96px
}

input{
border:0px
}

.besonderheiten_link{
display:block;
width:100%;
height:20px;
color:#98a5b5;
text-align:center;
font-size:9px
}

.besonderheiten_link:hover{
color:#c2d8f3
}

#agb_container{
color:#898989;
font-size:11px;
height:20px;
margin:7px
0 5px;
text-align:center;
width:100%
}

#agb_container
a{
font-size:11px;
color:#898989;
text-decoration:none
}

#agb_container a:hover{
color:#CCC
}

#statustext{
font-size:12px;
color:#830000;
text-align:center;
margin-top:20px
}

#registrieren_button{
height:52px;
margin:27px
0 20px 196px;
width:261px
}

#registrieren_button
a{
padding-top:15px;
text-align:center;
font-weight:bold;
font-size:16px;
color:#fefefe;
text-decoration:none;
display:block;
width:261px;
height:37px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px 0px
}

#registrieren_button a:hover{
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px -52px;
color:#333
}

#float_ie6{
float:left;
height:400px
}

.warning{
color:#830000
}

.fine{
color:#098300
}

.register_agb{
color:#ccc
}

.register_agb:hover{
color:#fff
}

#uni_label{
margin-bottom:0px
}

#registrieren_button_about{
float:left;
margin-left:157px;
margin-top:0px;
margin-bottom:20px;
width:261px;
height:52px
}

#registrieren_button_about
a{
padding-top:15px;
text-align:center;
font-weight:bold;
font-size:16px;
color:#fefefe;
text-decoration:none;
display:block;
width:261px;
height:37px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px 0px
}

#registrieren_button_about2{
float:left;
margin-left:194px;
margin-top:0px;
margin-bottom:30px;
width:261px;
height:52px
}

#registrieren_button_about2
a{
padding-top:15px;
text-align:center;
font-weight:bold;
font-size:16px;
color:#fefefe;
text-decoration:none;
display:block;
width:261px;
height:37px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px 0px
}

#registrieren_button_about a:hover{
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px -52px;
color:#333
}

#registrieren_button_about2 a:hover{
background-image:url(../images/spriteset_buttons.jpg);
background-position:0px -52px;
color:#333
}

#about_container{
width:570px;
padding-left:40px;
padding-right:20px;
margin-top:20px
}

#about_container
p{
margin:0;
margin-bottom:13px
}

#about_container p
em{
font-weight:bold;
color:#55788f;
font-style:normal
}

#about_container
h2{
font-size:14px;
font-weight:bold;
color:#55788f;
font-style:normal;
margin-bottom:20px
}

#ogame_geschichte{
display:none;
width:600px;
float:left;
margin-top:20px
}

#imageLeft{
background-image:url(../images/spriteset_bilder.jpg);
background-position:-140px -224px;
float:left;
border:solid 1px #24292f;
margin-right:12px;
margin-bottom:7px;
width:140px;
height:140px
}

#imageRight1{
background-image:url(../images/spriteset_bilder.jpg);
background-position:0px -224px;
width:140px;
height:140px;
float:right;
border:solid 1px #24292f;
margin-left:12px;
margin-bottom:7px
}

#imageRight2{
background-image:url(../images/spriteset_bilder.jpg);
background-position:-280px -224px;
float:right;
border:solid 1px #24292f;
margin-left:12px;
margin-bottom:7px;
width:140px;
height:140px
}

.infoBlock{
margin-bottom:15px;
float:left;
width:600px
}

.abstand_20px{
float:left;
width:600px;
height:20px
}

u{
font-weight:normal;
text-decoration:underline;
font-size:11px;
color:#767f88;
line-height:18px
}

.absatz{
margin-bottom:15px
}

#virgin_link{
margin:-16px 0px 12px -13px;
padding:0;
display:block;
width:230px;
height:49px;
background-image:url(../images/spriteset_gifs.gif);
background-position:0px -45px
}

.regeln_text{
margin-top:8px
}

#regeln_intro_text{
margin-top:14px
}

.regelkunde_link{
text-decoration:none;
color:#CCC;
margin-left:3px
}

#credits_container{
margin-top:150px;
margin-right:10px;
position:relative;
width:635px;
height:400px;
text-align:center
}

#mute_button{
display:block;
position:absolute;
left:6px;
top:0px;
width:21px;
height:21px;
background-image:url(../images/spriteset_gifs.gif);
background-position:-405px -45px
}

.clearfloat{
clear:both;
height:0;
font-size:1px;
line-height:0px
}

#unis_besonderheiten{
margin-top:20px
}

#uni_besonderheiten_liste{
display:none;
margin:0
0 30px 0;
padding-top:50px
}

#uni_besonderheiten_liste
ul{
color:#8E8E8E;
font-size:11px;
line-height:18px;
font-weight:normal;
list-style-type:none;
margin-left:10px
}

#uni_besonderheiten_liste
li{

}

#unis_besonderheiten
p{
padding-bottom:10px
}

.noRecUni{
color:#8e8e8e
}

#uni_besonderheiten_liste a:hover{
color:#CCC
}

.highlightRecUni{
color:#2eac40
}

.closed_uni{
color:#4c545d;
background:none
}

#lbOverlay{
position:absolute;
z-index:9999;
left:0;
width:100%;
background-color:#000;
cursor:pointer
}

#lbCenter,#lbBottomContainer{
position:absolute;
z-index:9999;
left:50%;
overflow:visible;
background-color:#141e26
}

.lbLoading{
background:#fff url(../images/loading.gif) no-repeat center
}

#lbImage{
position:absolute;
left:0;
top:0;
border:5px
solid #10181f;
background-repeat:no-repeat;
overflow:visible
}

#lbPrevLink{
display:block;
position:absolute;
top:0;
width:50%;
outline:none;
background:transparent url(../images/prevlabel.gif) no-repeat 0% 100%
}

#lbNextLink{
display:block;
position:absolute;
top:0;
width:50%;
outline:none;
background:transparent url(../images/nextlabel.gif) no-repeat 100% 100%
}

#lbPrevLink{
left:0
}

#lbPrevLink:hover{
background:transparent url(../images/prevlabel_h.gif) no-repeat 0% 100%
}

#lbNextLink{
right:0
}

#lbNextLink:hover{
background:transparent url(../images/nextlabel_h.gif) no-repeat 100% 100%
}

#lbBottom{
font-family:Verdana,Arial,Geneva,Helvetica,sans-serif;
font-size:11px;
color:#757f8b;
font-weight:bold;
line-height:1.4em;
text-align:center;
border:5px
solid #141e26;
border-top-style:none
}

#lbCloseLink{
display:none;
float:right;
width:22px;
height:22px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-621px 0px;
margin:5px
0;
outline:none
}

#lbCloseLink_oben{
position:absolute;
display:block;
width:22px;
height:22px;
background-image:url(../images/spriteset_buttons.jpg);
background-position:-428px -81px;
left:646px;
top:-6px;
outline:none
}

#lbCaption,#lbNumber{
margin-right:0px
}

#lbCaption{
font-weight:bold
}

.team_div_open{
clear:left;
display:block;
width:654px
}

.team_div_closed{
clear:left;
display:none;
width:654px
}

#team_table{
color:#767f88;
font-size:11px;
border:2px
solid #0d1015;
margin-bottom:0px;
margin-top:5px;
text-transform:uppercase;
text-align:center
}

.td_team_noUni{
font-weight:bold
}

.td_team_left{
background-color:#13181d;
padding-right:30px;
vertical-align:top;
font-weight:bold;
width:300px;
overflow:hidden;
text-align:left;
padding:8px
0 8px 16px
}

.td_team_right{
background-color:#13181D;
font-weight:normal;
line-height:19px;
overflow:hidden;
padding:2px;
text-align:center;
width:200px
}

h3{
text-align:center;
font-size:14px;
font-weight:bold;
color:#55788f;
margin-top:10px;
margin-bottom:0px
}

/********************